@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/maps';
@import '/node_modules/bootstrap/scss/utilities';

$utilities: map-merge(
	(
		'font-size': (
			rfs: true,
			// Enable RFS for font-size
			property: font-size,
			class: fs,
			values: $font-sizes,
			// Use your custom font-sizes map
			responsive: true,
		),
	),
	$utilities
);

@each $color, $value in $colors {
	@for $i from 1 through 5 {
		$opacity: $i * 0.1;

		.bg-#{$color}-op-0#{$i}-hover:hover {
			background-color: rgba(var(--bs-#{$color}-rgb), $opacity);
		}
	}
}

@for $i from 1 through 10 {
	$size: $i * 5px;

	.w-#{$size} {
		width: $size;
	}

	.h-#{$size} {
		height: $size;
	}

	.s-#{$size} {
		width: $size;
		height: $size;
	}
}
