# APP
PORT=3000

# LOGGER
# error | warn | info
LOGGER_LEVEL=info
LOGGER_HIDE_CONSOLE=false

# MONGODB
MONGODB_URL=mongodb://127.0.0.1:27017
MONGODB_AUTH_SOURCE=admin
MONGODB_USERNAME=admin007
MONGODB_PASSWORD=password007
MONGODB_DATABASE=myapp-db

# RATE LIMIT
#in secons
RATE_LIMIT=300
RATE_LIMIT_MAX=100

# COOKIE
COOKIE_SECRET=42460ca22709a33b5f121393b67cd161e1e31f7566dfda7bd1695b71eec7a839x
# in seconds
APP_COOKIE_MAX_AGE=2592000
TOAST_COOKIE_MAX_AGE=5
CAPTCHA_COOKIE_MAX_AGE=30