<style>
  #express {
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    display: block;
    background-color: #fff; 
    color: #383838; 
    border: solid 1px #383838; 
    -webkit-font-smoothing: antialiased;
    display: block;
    font: 4.5em "Helvetica Neue", "Open Sans", sans-serif;
    font-weight: 100 !important;
    margin-bottom: .25em;
  }
</style>
<div id="express">
  <span style="font-weight: 100;">Express</span>
  <span style="font-size: 0.8rem;">5.1.0</span>
</div>