<div id="home">
  <div class="frameworks">
    <img class="border" src="/assets/image/express.png?t=ddd" />
    <img src="/assets/image/ejs.png" />
    <img class="border" src="/assets/image/mongodb.png" />
  </div>
  <section>
    <h1><%= t('appWelcome') %></h1>
    <h5><%= t('appDescription') %></h5>
  </section>
  <a href="https://github.com/ferrylinton/express-ejs-mongo-bootstrap-ts" target="_blank" and rel="noopener noreferrer" class="btn btn-outline-secondary">
    <i class="icon" style="width: 20px; height: 20px;"><%- include('./icons/git-icon'); -%></i>
    <span><%= t('sourceCode') %></span>
  </a>
</div>