<div class="page-container">
  <section class="d-flex justify-content-center align-items-end gap-2 mt-2 mb-4">
    <h2 class="title">
      <%- include('../icons/message-icon'); %>
      <span>
        <%= t('message') %>
      </span>
    </h2>
  </section>
  
</div>